<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./style.css" />
    <script>
      navigator.serviceWorker.register('{{metadata.path_to_index}}sw.js');
    </script>
  </head>
  <body>
    <h1 class="title"><a
        href="{{metadata.path_to_index}}index.html"
      >{{metadata.name}}</a></h1>
    <div class="container">
      <a href="./spells/index.html"><h1>Spells</h1></a>
      <a href="./feats.html"><h1>Feats</h1></a>
      <a href="./races/index.html"><h1>Races</h1></a>
      <h1>Classes</h1>
      <ul>
        {{#each (sort_classes inner.classes)}}
          <li><a
              href="./classes/{{file_name_sanitize name}}/index.html"
            >{{proper_noun name}}</a></li>
        {{/each}}
      </ul>
    </div>
  </body>
</html>