<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../style.css" />
    <script>
      navigator.serviceWorker.register('{{metadata.path_to_index}}sw.js');
    </script>
    <title>{{proper_noun inner.name}}</title>
  </head>

  <body>
    <h1 class="title"><a
        href="{{metadata.path_to_index}}index.html"
      >{{metadata.name}}</a></h1>
    <div class="container">
      <h1><a href="{{metadata.path_to_parent}}">
          🠔
        </a>
      </h1>
      <h1>{{proper_noun inner.name}}</h1>
      <p>{{inner.flavor_text}}</p>
      <h2>{{proper_noun inner.name}} Features</h2>
      <ul>
      {{#each inner.features}}
        <li><strong>{{@key}}.</strong> {{markdown this true}}</li>
      {{/each}}
      </ul>
      {{#each inner.subraces}}
        <h2>{{proper_noun name}}</h2>
        <p>{{flavor_text}}</p>
        <ul>
          {{#each features}}
            <li><strong>{{@key}}.</strong> {{markdown this true}}</li>
          {{/each}}
        </ul>
      {{/each}}
    </div>
  </body>
</html>