<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../style.css" />
    <script>
      navigator.serviceWorker.register('{{metadata.path_to_index}}sw.js');
    </script>
    <title>Races</title>
  </head>

  <body>
    <h1 class="title"><a
        href="{{metadata.path_to_index}}index.html"
      >{{metadata.name}}</a></h1>
    <div class="container">
      <h1><a href="{{metadata.path_to_parent}}">
          🠔
        </a>
      </h1>
      {{#each inner}}
        <h2>{{proper_noun @key}}</h2>
        {{#if (lookup this 0)}}
          {{markdown (lookup this 0)}}
        {{/if}}
        <ul>
          {{#each (lookup this 1)}}
            <li><a href="./{{file_name_sanitize name}}.html">{{proper_noun
                  name
                }}</a></li>
          {{/each}}
        </ul>
      {{/each}}
    </div>
  </body>
</html>