<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../style.css" />
    <title>{{proper_noun inner.name}}</title>
  </head>
  <body>
    <h1 class="title">Niebs Critial Collection</h1>
    <div class="container">
      <h1><a href="./index.html">🠔</a></h1>
      <h1 class="spell-name">{{proper_noun inner.name}}</h1>
      <p class="spell-property"><span class="spell-property-name">Level:</span>
        {{inner.spell_level}}</p>
      <p class="spell-property"><span class="spell-property-name">School:</span>
        {{proper_noun inner.school}}</p>
      {{#if inner.ritual}}
        <p class="spell-property"><span
            class="spell-property-name"
          >Ritual</span></p>
      {{/if}}
      <p class="spell-property"><span class="spell-property-name">Casting Time:</span>
        {{inner.casting_time}}</p>
      <p class="spell-property"><span class="spell-property-name">Range:</span>
        {{proper_noun inner.range}}</p>
      <p class="spell-property"><span
          class="spell-property-name"
        >Components:</span>
        {{format_componenets inner.components}}</p>
      <p class="spell-property"><span
          class="spell-property-name"
        >Duration:</span>
        {{proper_noun inner.duration}}</p>
      <p id="spell-body">{{markdown inner.body}}</p>
      {{#if inner.higher_levels}}
        <p class="spell-higher-levels"><span>At Higher Levels.</span>
          {{inner.higher_levels}}</p>
      {{/if}}
      <p class="spell-lists"><span>Spell Lists:</span>
        {{#each inner.casters}}
          <a href="../classes/{{this}}.html">{{proper_noun this}}</a>
        {{/each}}
      </p>
    </div>
  </body>
</html>