<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../style.css" />
    <title></title>
  </head>

  <body>
    <h1 class="title"><a href="{{metadata.path_to_index}}">{{metadata.name}}</a></h1>
    <div class="container">
      <h1><a href="{{metadata.path_to_parent}}">
          🠔
        </a>
      </h1>
      <h1>Spells</h1>
      {{#each (range 9)}}
        <h2>{{proper_noun (spell_level_name this)}}</h2>
        <ul class="list-by-level">
          {{#each (sort_spells this)}}
            <li><a href="./{{file_name_sanitize name}}.html">{{proper_noun name}}</a></li>
          {{/each}}
        </ul>
      {{/each}}
    </div>
  </body>

</html>