<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../style.css" />
    <title>Spells</title>
  </head>

  <body>
    <h1 class="title"><a
        href="{{metadata.path_to_index}}"
      >{{metadata.name}}</a></h1>
    <div class="container">
      <h1><a href="{{metadata.path_to_parent}}">
          🠔
        </a>
      </h1>
      <h1>Spells</h1>
      <h2>Filter</h2>
      <form id="filter">
        <div>
          <input
            type="radio"
            id="radio-choice-all-classes"
            name="class-filter"
            value="all"
            checked
          />
          <label for="radio-choice-all-classes">All</label>
          {{#each (casters)}}
            <input
              type="radio"
              id="radio-choice-class-{{class_name this}}"
              name="class-filter"
              value="{{this}}"
            />
            <label for="radio-choice-class-{{class_name this}}">{{proper_noun this}}</label>
          {{/each}}
        </div>
        <div>
          <input
            type="radio"
            id="radio-choice-all-schools"
            name="school-filter"
            value="all"
            checked
          />
          <label for="radio-choice-all-schools">All</label>
          {{#each metadata.schools}}
          <input
          type="radio"
          id="radio-choice-school-{{class_name this}}"
          name="school-filter"
          value="{{this}}"
          />
          <label for="radio-choice-school-{{class_name this}}">{{proper_noun this}}</label>
          {{/each}}
        </div>
      </form>
      {{#each (range 9)}}
        <h2>{{proper_noun (spell_level_name this)}}</h2>
        <ul class="list-by-level">
          {{#each (sort_spells this)}}
            <li class="spell class-all school-all {{classes_of_spell this}}"><a
                href="./{{file_name_sanitize name}}.html"
              >{{proper_noun name}}</a></li>
          {{/each}}
        </ul>
      {{/each}}
    </div>

    <script>
      {{ref_file "js/spells_filter.js"}}
    </script>
  </body>
</html>